body
{
    background-color:#2d3238;
}

.wrapper
{
  margin: 0 auto;
  width: 1000px ;
}


h1
{   
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: white;  
}

.main-nav
{
  font-family: "Alegreya Sans";
  text-align: center;
  margin-left: -32px;
 

}

.main-nav li
{
  display: inline-block;
  float: none;
}

.main-nav li a
{

  color:white;
  padding: 50px 16px 50px 16px;
  text-decoration: none;
   
}

p
{
  display: block;
  color:gray;
  font-family: "Alegreya Sans",sans-serif;
  font-size: 20px;
}